{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RecRNN Player - Bye...</title>
    <link href="{% sass_src 'recrnn/css/default/main.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>
<main id="logout">
    <header class="container">
        <h1 class="slogan">RecRNN.</h1>
    </header>
    <section class="container">
        <h2>Bye!</h2>
        <p>You has been successfully logged out.</p>
    </section>
    <footer class="container">
        <p>More about the RecRNN recommendation system.</p>
    </footer>
</main>


</body>
</html>