#recently-played {
  overflow: scroll;
  max-height: 100vh;
  display: inline-flex;

  .legend {
    position: fixed;
    bottom: 45px;
    display: inline-flex;
    flex-flow: column;

    .legend-row {
      display: inline-flex;
      flex-flow: row;

      &.available, .not_available {
        padding: 18px 0;
      }

      &.available {
        .dot {
          background-color: $blue;
        }
      }

      &.not-available {
        .dot {
          background-color: $black;
        }
      }

      .dot {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin: 0 5px 0 0;
      }

    }

  }

  ul.tracklist {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    margin: 45px 0;
    li {

      &:nth-child(even) {
        background: transparent !important;
      }

      .track {
        width: calc(350px - 44px);
        border: 1px solid $blue;
        border-radius: 12px;
        background: $blue;
        margin: 0 auto 20px;
        padding: 22px;
        position: relative;

        -webkit-box-shadow: 2px 2px 21px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 21px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 21px -2px rgba(0, 0, 0, 0.75);

        &.not_available {
          border: 1px solid $black;
          background: $black;
          transform: scale(0.8);
          margin: 0 auto 0;
        }
      }
    }

  }
}