$blue: #16A085;
$blue: #03A678;
$orange: #D35400;
$black: #1D1D1D;
$dark: #383838;
$darkgrey: #343434;
$white: #ffffff;
$boxshadow: 0 2px 22px 0 rgba(0, 0, 0, 0.50);
$source_sans_pro: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;